 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url('images/wallpapersden.com_westeros-map-game-of-thrones-tv-show-wallpaper_2560x1440.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 992px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  --radius: 10px;
  height: auto;
  background-image: none;
  min-height: 991px;
  margin: 50px auto -49px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 0 20px;
}

.u-section-1 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 20px 281px 0 20px;
}

.u-section-1 .u-image-1 {
  width: 255px;
  height: 436px;
  --radius: 10px;
  margin: -435px 20px 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 30px 20px 0;
}

.u-section-1 .u-group-2 {
  width: 510px;
  min-height: 151px;
  height: auto;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 760px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: -36px;
    min-height: 962px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 21px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 275px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 29px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 29px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1481px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 13px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    min-height: 202px;
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}